<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        PEX - HOME
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body style="background-color: white;" data-spy="scroll" data-offset="4" data-target=".navbar">
    <div id = "container">
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color: black;">
        
            <a class="navbar-brand" href="http://localhost:5000/">
            <b>Home</b>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="collapsibleNavbar">  
                <ul class="navbar-nav">

                        <li class='nav-item' style='font-size: 20px; font-weight: bolder;'>
                            <a class='nav-link' href='http://localhost:5000/view'>
                                Analytics
                            </a>
                        </li>

                        <li class='nav-item'>
                            <font color='black'>~</font>
                        </li>
                    
                        <li class='nav-item' style='font-size: 20px; font-weight: bolder;'>
                            <a class='nav-link' href='http://localhost:5000/search'>
                                Search
                            </a>
                        </li>

                        <li class='nav-item'>
                            <font color='black'>~</font>
                        </li>

                        <li class='nav-item' style='font-size: 20px; font-weight: bolder;'>
                            <a class='nav-link' href='http://localhost:5000/find'>
                                Your Recent Searches
                            </a>
                        </li>
                        
                        <li class='nav-item'>
                            <font color='black'>~</font>
                        </li>
                                
                        <li class='nav-item' style='font-size: 20px; font-weight: bolder;'>
                            <a class='nav-link' href='http://localhost:5000/book'>
                                Book Quotations
                            </a>
                        </li>

                        <li class='nav-item'>
                            <font color='black'>~</font>
                        </li>

                        <li class='nav-item' style='font-size: 20px; font-weight: bolder;'>
                            <a class='nav-link' href='http://localhost:5000/delete'>
                                View / Delete Bookings <font color='brown'></font>
                            </a>
                        </li>

                        <li class='nav-item'>
                            <font color='black'>~</font>
                        </li>

                        <li class='nav-item' style='font-size: 20px; font-weight: bolder;'>
                            <a class='nav-link' href='http://localhost:5000/updateOpen'>
                                Update OpenPrice Amount <font color='brown'></font>
                            </a>
                        </li>
                                
                        <li class='nav-item'>
                            <font color='black'>~</font>
                        </li>

                        <li class='nav-item' style='font-size: 20px; font-weight: bolder;'>
                            <a class='nav-link' href='http://localhost:5000/updateClose'>
                                Update ClosePrice Amount <font color='brown'></font>
                            </a>
                        </li>
                                
                        <li class="nav-item">
                            <font color="black">~</font>
                        </li>

                        <li class="nav-item dropdown" style="font-size: 20px; background-color: brown; font-weight: bolder;">
                
                            <a class='nav-link dropdown-toggle' href='#'' id='navbardrop' data-toggle='dropdown'> 
                                Hello, <%=name%> </a>
                                <div class='dropdown-menu' style = 'background-color: rgb(209, 119, 119);'>
                                    <a class='dropdown-item' href='http://localhost:5000/logout'>LOG OUT</a>
                                    <a class='dropdown-item' href='http://localhost:5000/login'>LOGIN</a>
                                    <a class='dropdown-item' href='http://localhost:5000/register'>REGISTER</a>
                                </div>   
                        </li>
                </ul>
            </div>
        </nav>
    </div>

</br>
</br>
</br>
</br>
</br>
</br>

<h1> The query field cannot be null.! Please enter a value.! </h1>

</body>
</html>